## 1. Problem Definition

Predecir la probabilidad de atraso de los vuelos que aterrizan o despegan en el aeropuerto de Santiago de Chile.

In [3]:
import pandas as pd

In [25]:
dataset_df = pd.read_csv('dataset_SCL.csv', low_memory=False)
dataset_df.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [5]:
len(dataset_df)

68206

In [6]:
dataset_df['Vlo-I'].value_counts()

174     686
11      645
116     608
150     557
704     556
       ...
1121      1
1116      1
1065      1
1054      1
1234      1
Name: Vlo-I, Length: 584, dtype: int64

In [7]:
dataset_df['Ori-I'].value_counts()

SCEL    68206
Name: Ori-I, dtype: int64

In [8]:
dataset_df['Des-I'].value_counts()

SCFA    5787
SPJC    5270
SCCF    5145
SCTE    4357
SCIE    3995
        ...
SBFI       1
SPSO       1
SEQU       1
SEQM       1
SARI       1
Name: Des-I, Length: 64, dtype: int64

In [9]:
len(dataset_df['Emp-I'].value_counts()), len(dataset_df['OPERA'].value_counts())
# una aerolina puede tener varios codigos? entender mejor

(30, 23)

In [10]:
# Calculo del tiempo entre hora programada y hora de operacion
dataset_mod = dataset_df.copy()
# Concersion de fechas a datetime
dataset_mod['Fecha-O'] = pd.to_datetime(dataset_mod['Fecha-O'])
dataset_mod['Fecha-I'] = pd.to_datetime(dataset_mod['Fecha-I'])
dataset_mod['Atraso'] = dataset_mod['Fecha-O'] - dataset_mod['Fecha-I']
dataset_mod['Atraso'].head()

0     0 days 00:03:00
1     0 days 00:09:00
2     0 days 00:09:00
3     0 days 00:03:00
4   -1 days +23:58:00
Name: Atraso, dtype: timedelta64[ns]

In [11]:
dataset_mod['Fecha-O'].head()

0   2017-01-01 23:33:00
1   2017-01-02 23:39:00
2   2017-01-03 23:39:00
3   2017-01-04 23:33:00
4   2017-01-05 23:28:00
Name: Fecha-O, dtype: datetime64[ns]

In [12]:
dataset_mod['Fecha-I'].head()

0   2017-01-01 23:30:00
1   2017-01-02 23:30:00
2   2017-01-03 23:30:00
3   2017-01-04 23:30:00
4   2017-01-05 23:30:00
Name: Fecha-I, dtype: datetime64[ns]

**Note:** Notar que el vuelo 4 sale antes que la hora programada, y por eso el atraso es negativo, OJO

In [13]:
dataset_mod.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,Atraso
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami,0 days 00:03:00
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami,0 days 00:09:00
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami,0 days 00:09:00
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami,0 days 00:03:00
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami,-1 days +23:58:00

In [14]:
(dataset_mod['Vlo-I'] == dataset_mod['Vlo-O']).value_counts()
# Puede que se cambie el numero de operacion del que estaba programado

True     63687
False     4519
dtype: int64

In [15]:
(dataset_mod['Ori-I'] == dataset_mod['Ori-O']).value_counts()

True    68206
dtype: int64

In [16]:
# El codigo de ciudad de origen programado coincide para todos los vuelos con el codigo de ciudad de origen de operacion , por lo que podemos eliminar una columna
dataset_mod.drop(labels=['Ori-O'], axis=1, inplace=True)
dataset_mod

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,Atraso
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami,0 days 00:03:00
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami,0 days 00:09:00
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami,0 days 00:09:00
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami,0 days 00:03:00
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami,-1 days +23:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,0 days 00:46:00
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima,0 days 00:16:00
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,0 days 00:40:00
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,0 days 00:13:00
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima,0 days 00:09:00

In [17]:
(dataset_mod['Des-I'] == dataset_mod['Des-O']).value_counts()
# Existen casos en el que el vuelo de destino programado se cambia en el vuelo de operacion, esto se puede deber a emergencias de vuelo, problemas tecnicos y la necesidad de hacer escalas, entre otros.

True     68178
False       28
dtype: int64

In [18]:
(dataset_mod['Emp-I'] == dataset_mod['Emp-O']).value_counts()
# Parecido al problema anterior, los cambios en la aerolina de los vuelos, se puede deber a problemas tecnicos del avion y la necesidad de reacommodar a los clientes, entre otros factores.

True     49537
False    18669
dtype: int64

In [19]:
round(18669/(18669+49537)*100, 2)
# Notar que un porcentaje no mennor, correspondiente al 27% de los vuelos son cambiados de aerolinea

27.37

In [20]:
dataset_mod['TIPOVUELO'].value_counts()

N    36966
I    31240
Name: TIPOVUELO, dtype: int64

In [21]:
dataset_mod.dtypes

Fecha-I       datetime64[ns]
Vlo-I                 object
Ori-I                 object
Des-I                 object
Emp-I                 object
Fecha-O       datetime64[ns]
Vlo-O                 object
Des-O                 object
Emp-O                 object
DIA                    int64
MES                    int64
AÑO                    int64
DIANOM                object
TIPOVUELO             object
OPERA                 object
SIGLAORI              object
SIGLADES              object
Atraso       timedelta64[ns]
dtype: object

In [22]:
dataset_mod.isna().sum()

Fecha-I      0
Vlo-I        0
Ori-I        0
Des-I        0
Emp-I        0
Fecha-O      0
Vlo-O        1
Des-O        0
Emp-O        0
DIA          0
MES          0
AÑO          0
DIANOM       0
TIPOVUELO    0
OPERA        0
SIGLAORI     0
SIGLADES     0
Atraso       0
dtype: int64

In [24]:
(dataset_mod['OPERA'] == 'Grupo LATAM').sum()

40892